*
{
  margin: 0;
  padding: 0;  
}

body
{
   background-color: #548687;
   text-align: center;
}

.container
{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game
{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.box
{
    height: 18vmin;
    width: 18vmin;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    font-size: 40px;
    color: red;
}

.reset-btn
{
    background-color: yellow;
    color: blue;
    border: navajowhite;
    border-radius: 10px;
    height: 50px;
    width: 120px;
    font-size: 20px;
}

.new-btn
{
    background-color: yellow;
    color: blue;
    border: navajowhite;
    border-radius: 10px;
    height: 50px;
    width: 120px;
    font-size: 20px;
}

#msg
{
    font-size: 40px;
}

.hide
{
    display: none;   
}